/* 在 src/App.css 中添加样式 */

.App {
  width: 100vw;
  min-height: 100vh;
  /* text-align: center; */
  /* padding: 20px; */
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.bg {
  position: absolute; /* 绝对定位相对于.tab */
  width: 100%; /* 宽度填满容器 */
  height: 100%; /* 高度填满容器 */
  object-fit: cover; /* 确保图片覆盖整个容器而不变形 */
  z-index: -1; /* 确保图片在内容之下 */
  /* filter: blur(1px); */
}

.watermark {
  /* position: absolute; */
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.image-part {
  width: 80vw;
}

.markButtons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.6;
  background: #fff;
}

.upbutton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
}

.bg-img {
  /* width: 200px; */
  margin: 20px;
}

.dropzone {
  border: 2px solid #268af8;
  background-color: #268af8;
  color: #fff;
  width: 10vw;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  margin: 20px 0;
  text-align: center;
}

.dropzone p {
  margin: 0;
  font-size: 16px;
}

.button {
  background-color: #268af8;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.error {
  color: red;
  margin-top: 10px;
}

.loading {
  color: #007bff;
  margin-top: 10px;
}
