/* EmojiScroller.css */
.emoji-scroller {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0; /* 移除内联元素间隙 */
  z-index: -1; /* 确保背景位于内容之下 */
  opacity: 0.5;
}

.emoji-scroller.vertical {
  display: flex;
  flex-direction: column;
}

.emoji-row {
  display: flex;
}

.emoji {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  line-height: 1; /* 移除额外的行高 */
  margin: 2vw;
}
