@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes ripple {
        0% {
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            width: 300px;
            height: 300px;
            opacity: 0;
        }
    }

    .animate-ripple {
        animation: ripple 2s linear infinite;
        pointer-events: none;
    }
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

}

body {
    margin: 0;
    display: flex;
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
}

/* .light-mode {
    background: #fff;
    color: #000;
} */

/* 暗色模式下的样式 */
/* .dark-mode{
    background: #272727;
    color: #fff;
} */
